<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hell yeah!</title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt body}}</p>

        {{> footer}}
    </body>
</html>